- if current_user.followed?(user)
  = button_to 'unfollow', portal_friendship_path(user), method: :delete, class: 'btn btn-mini btn-danger'  do
    %i(class='icon-remove icon-white')
    = t('users.friendships.delete')
- else
  = button_to 'follow', create_portal_friendships_path(user), class: 'btn btn-mini btn-primary'  do
    %i(class='icon-plus icon-white')
    = t('users.friendships.add')