= simple_form_for [:portal, @user], method: :put, :html => { :class => 'form-horizontal' } do |f|
  .big-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :phone, as: 'tel'
    = avatar_tag @user, {small:true, rounded:true}
    = f.input :avatar, :as => 'file'
    = f.input :birth_date, as: 'date'
    = f.input :country, :as => 'country'
    = f.input :about, :as => 'text'
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), portal_users_path, :class => 'btn'
