- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  - klass = 'btn btn-primary'
  = link_to t('users.header.online'), portal_users_path(list: :online), class: "#{params[:list] != 'online' ? 'btn btn-primary disabled' : klass}"
  = link_to t('users.header.friends'), portal_users_path(list: :friends), class: "#{params[:list] != 'friends' ? 'btn btn-primary disabled' : klass}"
  = link_to t('users.header.all'), portal_users_path(list: :all), class: "#{params[:list] != 'all' ? 'btn btn-primary disabled' : klass}"
  = link_to t('users.header.clan'), portal_users_path(list: :clan), class: "#{params[:list] != 'clan' ? 'btn btn-primary disabled' : klass}"

%table.table
  %tbody
    - @users.each do |user|
      %tr
        %td= avatar_tag user, {small:true, rounded:true}
        %td
          = username user
          .online-tag
            = user.online?
        %td= email_tag user.email
        %td= user.country
        %td
          - unless user == current_user
            = render 'followings', user: user