- model_class = User
.page-header
  %h1=t 'users.profile.show'
#profile_box
  #left_box
    .avatar
      = avatar_tag @user
    .email
      = email_tag @user.email
      - unless @user == current_user
        = render 'followings', user: @user
  #right_box
    .username
      = username @user
      - if current_user.can_edit?(@user)
        = link_to edit_portal_user_path(@user), :class => 'btn'  do
          %i(class='icon-pencil')
          = t('globals.edit')
    .online-tag-show
      = @user.online?

    %p
      %strong= model_class.human_attribute_name(:phone) + ':'
      = info_tag @user.phone
    %p
      %strong= model_class.human_attribute_name(:birth_date) + ':'
      = info_tag @user.birth_date
    %p
      %strong= model_class.human_attribute_name(:country) + ':'
      = info_tag @user.country
    %p
      %strong= model_class.human_attribute_name(:about) + ':'
      = info_tag @user.about