= form_for @message, url: portal_dashboard_message_path(@message) do |f|
  - if @message.errors.any?
    %div#error_explanation"
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this message from being saved:
      %ul
      - @message.errors.full_messages.each do |msg|
        %li
          = msg

  %div.field
    = f.label :content
    %br
    = f.text_area :content
  %div.field
    = f.label :author_id
    %br
    = f.number_field :author_id
  %div.field
    = f.label :receiver_id
    %br
    = f.number_field :receiver_id

  %div.actions
    = f.submit
