%h1
  Listing messages

%table
  %thead
    %tr
      %th
        Content
      %th
        Author
      %th
        Receiver
      %th
      %th
      %th

  %tbody
    - @messages.each do |message|
      %tr
        %td
          = message.content
        %td
          = message.author_id
        %td
          = message.receiver_id
        %td
          = link_to 'Show', message
        %td
          = link_to 'Edit', edit_portal_dashboard_message_path(message)
        %td
          = link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Message', new_portal_dashboard_message_path
