%p#notice
  = notice

%p
  %strong
    Content:
  = @message.content

%p
  %strong
    Author:
  = @message.author_id

%p
  %strong
    Receiver:
  = @message.receiver_id

= link_to 'Edit', edit_portal_dashboard_message_path(@message)
|
= link_to 'Back', portal_dashboard_messages_path
