- unless in_social_box?
  .social-login
    = t('welcome.log_in_with')
    = link_to image_tag('Facebook_login_40x40.png'), '/auth/facebook', id: 'sign_in'
    = link_to image_tag('vkontakte_login_40x40.png'), '/auth/vkontakte', id: 'sign_in'
    = link_to image_tag('Twitter_login_40x40.png'), '/auth/twitter', id: 'sign_in'
.social-warning
  %i.icon-warning-sign
  = t('welcome.social_login_warning')
.login-form
  = form_tag(do_login_welcome_index_url) do
    = hidden_field_tag :source, s
    = text_field_tag :email, nil, :placeholder => 'Email'
    = password_field_tag :password, nil, :placeholder => 'Password'

    = submit_tag t('welcome.login.sign_in'), :class => 'btn btn-small btn-primary'
    = link_to t('welcome.login.register'), '#registerModal', :class => 'btn btn-small btn-success', 'data-toggle'=>'modal'

    %div.remember-me
      = check_box_tag :remember_me, 1, params[:remember_me]
      %div.small-text
        = t('welcome.login.remember_me')
    = link_to t('welcome.login.forgot'), '#restorePasswdModal', 'data-toggle'=>'modal'

= render :partial => 'register_modal'
= render partial: 'password_restore/new_modal'