%div{class:'modal hide fade', id:'registerModal', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true'}
  .modal-header
    %button{type:'button', class:'close', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
      ×
    .modal-hd
      = t('welcome.registration.register_form')
    .modal-desc
      = t('welcome.registration.fill_in_fields')
  .modal-body
    = simple_form_for [:portal, @user], validate: true, method: :post, html:{ class:'form-horizontal'} do |form|
      = form.input :email
      = form.input :first_name
      = form.input :last_name, hint: 'No special characters, please!'
      = form.input :password
      = form.input :confirm_password
      .captcha
        = recaptcha_tags( display: {theme: 'clean', custom_theme_widget: 'recaptcha_widget'})
      .modal-footer
        <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">
        %i.icon-remove
        = t('global.close')
        </button>
        = form.button :submit, class: 'btn btn-small btn-success'