.page-header
  %h1= t('welcome.registration.password_restore.subject')

= simple_form_for @user, url: password_restore_path(params[:id]) do |f|
  .password-reset
    = f.input :password
    = f.input :confirm_password

    = f.button :submit, t('welcome.registration.password_restore.update_password'), class: 'btn btn-success'
