= simple_form_for [:portal, :dashboard, @post], validate: true, :html => { :class => 'form-horizontal' } do |f|
  = f.hidden_field :author_id, as: 'hidden'
  = f.input :title, class: 'text_field'
  = f.input :content, as: 'text', :input_html => { :cols => 10, :rows => 10 }

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    <button class="btn" data-dismiss="modal" aria-hidden="true">
    <i class="icon-remove"></i>
    = t('global.cancel')
    </button>
