%div.modal-header
  %button{:type=>"button", :class=>"close", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"}
    ×
  %h4.modal-hd
    = t('dashboard.news.create_post')
%div.modal-body
  = render partial: 'portal/dashboard/posts/form'
