%div{:class=>"modal hide fade", :id=>'showPost', :tabindex=>"-1", :role=>"dialog", 'aria-hidden'=>"true"}
  = render 'portal/dashboard/posts/show_modal', post: post

#post
  #author_box
    .avatar
      = avatar_tag post.author, {small: true, rounded: true}
    .name
      = username post.author
  #post_box
    .title
      = link_to post.title, '#showPost', 'data-toggle'=>'modal'
      - if current_user.is_author?(post)
        .delete_post_btn
          = button_to t('globals.destroy'), portal_dashboard_post_path(post), method: :delete, :confirm => t('globals.confirm'),
                                      class:'btn btn-mini btn-danger'
    .content
      = post.content
    .likes
      %i(class='icon icon-thumbs-up')
      = post.likes
    .created_at
      = posted_at(post)