%div.modal-header
  %button{:type=>"button", :class=>"close", 'data-dismiss'=>"modal", 'aria-hidden'=>"true"}
    ×
  %h4.modal-hd
    = post.title

%div.modal-body
  #post
    #author_box
      .avatar
        = avatar_tag post.author, {small: true, rounded: true}
      .name
        = username post.author
    #post_box
      .content_modal
        = post.content
      .likes
        %i(class='icon icon-thumbs-up')
        = post.likes
      .created_at
        = posted_at(post)

  - if current_user.is_author?(post)
    = button_to t('globals.destroy'), portal_dashboard_post_path(post), :method => :delete,
                                    :onclick => "return confirm('Are you sure?')",
                                    :class => 'btn btn-mini btn-danger'
