/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#post {
  padding-bottom: 15px;
  #author_box {
    margin-right: 10px;
    display: inline-block;

    .avatar {
      border: 1px solid #ffffff;
    }

    .name {
      max-width: 60px;
      text-align: center;
    }
  }

  #post_box {
    display: inline-block;
    position: absolute;
    .title {
      font-size: 25px;
      font-weight: bold;
      padding-bottom: 7px;
      border-bottom: 1px solid #EEEEEE;
      max-width: 300px;
      a { color: #333333; }
      .delete_post_btn {
        display: inline-block;
      }

    }

    .content {
      color: #595959;
      width: 700px;
    }

    .modal-content {
      color: #595959;
      width: 400px;
    }

    .created_at {
      font-size: 10px;
      color: #8f8f8f;
    }

    .likes {
      float: right;
    }

  }
}

.create_post {
  margin-bottom: 20px;
}

#topic-types {
  margin-bottom: 15px;
}