/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.log-out {
  text-align: center;
}

#profile_box {

  #left_box {
    display: inline-block;
    margin-right: 10px;
    min-height: 300px;
    .email {
      margin-top: 10px;
    }
    .avatar {

    }

  }

  #right_box {
    display: inline-block;
    position: fixed;
    min-height: 500px;

    .username {
      font-size: 40;
      padding-bottom: 20px;
    }
  }
}

.online-tag {
  color: #a7a7a7;
  font-size: 15;
}

.online-tag-show {
  color: #a7a7a7;
  font-size: 20;
  padding-bottom: 10px;
}