%div{:class=>'modal hide fade', id:'createPost', tabindex:'-1', role:'dialog', 'aria-hidden'=>'true'}
  = render 'portal/dashboard/posts/new'

.create_post
  = link_to '#createPost', :class => 'btn btn-success', 'data-toggle'=>'modal'  do
    %i(class='icon-plus icon-white')
    = t('dashboard.news.create_topic')
#topic-types
  - klass = 'btn btn-primary'
  = link_to t('dashboard.news.all'), portal_dashboard_index_path({tab: :news, what: :all}), class: "#{params[:what] != 'all' ? 'btn btn-primary disabled' : klass}"
  = link_to t('dashboard.news.unanswered'), portal_dashboard_index_path({tab: :news, what: :unansvered}), class: "#{params[:what] != 'unanswered' ? 'btn btn-primary disabled' : klass}"
  = link_to t('dashboard.news.my'), portal_dashboard_index_path({tab: :news, what: :my}), class: "#{params[:what] != 'my' ? 'btn btn-primary disabled' : klass}"
  = link_to t('dashboard.news.hot'), portal_dashboard_index_path({tab: :news, what: :hot}), class: "#{params[:what] != 'hot' ? 'btn btn-primary disabled' : klass}"

- @posts.each do |post|
  = render partial: 'portal/dashboard/posts/post', locals: {post: post}
