- #####!!! FOR CHESS NOT CONFUSING U!!!!!
- # FORUM == CHAT
- # NEWS == FORUM

%div.dashboard
  %div.tabbable
    %ul{:class=>'nav nav-tabs'}
      %li{class: "#{'active' if params[:tab] == 'news'}"}
        = link_to t('dashboard.news.header'), '#news', 'data-toggle'=>'tab'
      %li{class:  "#{'active' if params[:tab] == 'forum'}"}
        = link_to t('dashboard.chat.header'), '#forum', 'data-toggle'=>'tab'
      %li{class:  "#{'active' if params[:tab] == 'events'}"}
        = link_to t('dashboard.events.header'), '#events', 'data-toggle'=>'tab'

    %div.tab-content
      %div{class:"#{params[:tab] == 'news' || !params[:tab] ? 'tab-pane active' : 'tab-pane'}", :id=>'news'}
        = render 'news'
      %div{class:"#{params[:tab] == 'forum' || !params[:tab] ? 'tab-pane active' : 'tab-pane'}", :id=>'forum'}
        = render 'forum'
      %div{class:"#{params[:tab] == 'events' || !params[:tab] ? 'tab-pane active' : 'tab-pane'}", :id=>'events'}
        = render 'events'