// Place all the styles related to the Portal controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/


.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #d00;
  padding-left: 5px;
}

.simple_form label {
  float: left;
  width: 120px;
  text-align: right;
  margin: 2px 10px;
  display: inline;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.alert {
  text-align: center;
}

.with-icon {margin-top: -14px}

.inline-icon {
  position: relative;
  left: -60px;
  top: 20px;
}

#footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.text {
  height: 200px;
}