%ul.nav
  %li.dropdown
    %a{:class=>"dropdown-toggle", :id=>"dLabel", :role=>"button", 'data-toggle'=>"dropdown", 'data-target'=>"#", :href=>"/"}
      %i.icon-list
      = t('navigation.header.dashboard')
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to t('dashboard.news.header'), portal_dashboard_index_path(tab: 'news')
      %li
        = link_to t('dashboard.forum.header'), portal_dashboard_index_path(tab: 'forum')
      %li
        = link_to t('dashboard.events.header'), portal_dashboard_index_path(tab: 'events')