%ul.nav
  %li.dropdown
    %a{:class=>"dropdown-toggle", :id=>"dLabel", :role=>"button", 'data-toggle'=>"dropdown", 'data-target'=>"#", :href=>"/"}
      %i.icon-leaf
      = t('navigation.header.games')
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to t('games.globals.browse_all'), portal_games_path
      %li
        = link_to t('games.types.board.chess'), 'http://www.google.com/search', target: '_blank'
      %li
        = link_to t('games.types.card.poker'), 'http://www.vk.com', target: '_blank'