%ul{class:'nav pull-right'}
  %li.dropdown
    %a{:class=>"dropdown-toggle", :id=>"dLabel", :role=>"button", 'data-toggle'=>"dropdown", 'data-target'=>"#", :href=>"/"}
      %i.icon-home
      = current_user.first_name
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to t('globals.home'), portal_user_path(current_user.id)
      %li
        = link_to(t('globals.edit'), edit_portal_user_path(current_user.id))
      - unless in_social_box?
        %li.divider
        %li.log-out
          = button_to t('globals.sign_out'), logout_path, method: :get, class: 'btn btn-danger'