%ul.nav
  %li.dropdown
    %a{:class=>"dropdown-toggle", :id=>"dLabel", :role=>"button", 'data-toggle'=>"dropdown", 'data-target'=>"#", :href=>"/"}
      %i.icon-user
      = t('navigation.header.users')
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to t('users.header.online'), portal_users_path(list: :online)
      %li
        = link_to t('users.header.friends'), portal_users_path(list: :friends)
      %li
        = link_to t('users.header.all'), portal_users_path