%div{class: 'navbar navbar-inverse navbar-fixed-top'}
  %div.navbar-inner
    %div.container
      %a{class:'btn btn-navbar', 'data-toggle'=>'collapse', 'data-target'=>'.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a{class:'brand', href:'#'}
        = t('globals.dynamic_games')
      %div.nav-collapse
        - if current_user.present?
          = render partial: 'navigation/dashboard_dropdown'
          = render partial: 'navigation/users_dropdown'
          = render partial: 'navigation/games_dropdown'
          = render partial: 'navigation/profile_dropdown'